.results{
	margin-top:5px;
	margin-bottom:5px;
	padding:1px;
	border: 1px solid #ccc;
	border-radius:5px;
	min-height:20px;
}
@keyframes recording{
	from {background-color:#770000 ;}
	to {background-color:#dd3333;}
}
.recorder{
	color:000;
}
.recording{
	color: #fff;
	border-color:#cc0000;
	animation-name: recording;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-direction:alternate;
	animation-iteration-count:infinite;
}
.recorder:active,.recorder:active:focus,.recorder:focus{
	outline:none;
}
.recorder.recording{
	color:#fff;
}
.results-container{
	width:100%;
	border:none;
	resize:vertical;
}
.login{
	margin-top:10%;
}
.centered{
	text-align:center;
}
.card{
	border:1px #ccc solid;
	border-radius:5px;
	padding:10px;
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
	transition: all ease-in-out 0.35s;
}
.card:hover, .card:active, .card:focus{
	transform: scale(1.03,1.03);
	box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
}